@charset "UTF-8";
/* MINDsLab. NBR. 20200224 */

/* -------------------- reset -------------------- */
* {
  font-family: "Noto Sans KR", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  color: #353b67;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.4px;
  background: none;
}
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
legend,
em,
span {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  font-family: "Noto Sans KR", sans-serif;
}
th,
td {
  word-break: break-all;
}
form,
fieldset {
  display: block;
}
form,
fieldset,
img {
  border: none;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul,
li {
  list-style: none;
}
abbr,
acronym {
  border: none;
}
hr {
  display: none;
}
a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
textarea {
  overflow: auto;
  resize: none;
}
html:first-child select {
  min-height: 20px;
} /* opera 9 & below fix */
option {
  padding-right: 6px;
} /* firefox fix */
legend {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
} /* for screen reader */
pre {
  word-wrap: break-word;
}
label {
  font-family: "Noto Sans KR", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans KR", sans-serif;
}
br {
  background: none !important;
}
img {
  vertical-align: top;
}
a:focus,
input:focus,
textarea:focus,
button:focus {
  outline: none !important;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

/* input 기본 스타일 초기화 */
input,
textarea {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:-ms-clear {
  display: none;
}
input[type="number"]::-ms-clear {
  display: none;
}
input[type="numberOnly"]:-ms-clear {
  display: none;
}
input[type="numberOnly"]::-ms-clear {
  display: none;
}
input[type="text"]:-ms-clear {
  display: none;
}
input[type="text"]::-ms-clear {
  display: none;
}
input {
  filter: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px none inset;
  -webkit-text-fill-color: #35384d;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
input:invalid {
  box-shadow: none;
}
input::-moz-submit-invalid {
  box-shadow: none;
}
input::-moz-ui-invalid {
  box-shadow: none;
}
input:focus {
  outline: none;
}
select:focus {
  outline: none;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

/* Select 기본 스타일 초기화 */
select {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}
