@charset "utf-8";
/* MINDsLab. UX/UI Team NBR 2021.04.12 */

/* -------------------- chatbot avatar -------------------- */
/* iframe */
#chatbotAvatar {
  position: fixed;
  right: 46px;
  bottom: 43px;
  width: 100px;
  height: 100px;
  z-index: 9999;
}
#chatbotAvatar.open {
  right: 32px;
  bottom: 0;
  width: 280px;
  height: 420px;
}
#iframe_chatbotAvatar {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 775px;
  height: 100%;
}

/* scrollbar */
.scrollBox::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 0;
} /* 스크롤바의 width */
.scrollBox::-webkit-scrollbar-track {
  background: transparent;
} /* 스크롤바의 전체 배경색 */
.scrollBox::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #fff;
} /* 스크롤바 색 */
.scrollBox::-webkit-scrollbar-button {
  display: none;
} /* 위 아래 버튼 (버튼 없애기를 함) */

#btn_chatbotAvatar {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 70px;
  background: url("../images/img_avatar_sora.png") 50% 0 no-repeat;
  background-size: auto 52px;
  background-origin: border-box;
  transition: all 0.3s ease-out;
}
#btn_chatbotAvatar.hide {
  display: none;
}
#btn_chatbotAvatar span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100px;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
  transform: translate(-50%, 0);
}

#chatbotAvatar_wrap {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 280px;
  height: 100%;
}
#chatbotAvatar_wrap.open {
  display: block;
}

/* .videoBox {overflow:hidden; position:absolute; bottom:-1px; left:-200px; width:200px; height:340px;} */
.videoBox {
  position: absolute;
  bottom: -1px;
  right: 30%;
  width: auto;
  height: 340px;
  z-index: 10;
}
/* .videoBox video {position:absolute; top:0; left:50%; height:340px; transform:translate(-50%, 0);} */
.videoBox video {
  height: 100%;
}

.contBox {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px 20px 0 0;
  box-sizing: border-box;
  background-image: linear-gradient(
    155deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.6) 100%
  );
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.scrollBox {
  overflow: auto;
  position: relative;
  width: 100%;
  height: calc(100% - 55px);
  padding: 0 6px 0 0;
  z-index: 20;
  transition: height 0.3s ease-out;
}
.scrollBox.voice_recog {
  height: calc(100% - 176px);
}
.scrollBox.txt_recog {
  height: calc(100% - 96px);
}

.info_txt {
  display: none;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
.info_txt.on {
  display: block;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.faq_lst {
  margin: 12px 0 0;
  text-align: left;
}
.faq_lst li {
  display: inline-block;
  margin: 0 6px 6px 0;
}
.faq_lst li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 6px 10px 6px 24px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 32px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  color: #353b67;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0.45px;
  line-height: 1.6;
  word-break: keep-all;
  transition: border 0.3s ease-out, text-shadow 0.3s ease-out;
  cursor: pointer;
}
.faq_lst li:hover a {
  border: 1px solid #fff;
  text-shadow: 0 0 0 #353b67;
}
.faq_lst li.hashtag a {
  background: url("../images/ico_hashtag.svg") 10px 9px no-repeat;
}
.faq_lst li.question a {
  background: url("../images/ico_question.svg") 10px 9px no-repeat;
}

.faq_lst ~ .btnBox {
  margin: 4px 0 24px;
  text-align: center;
}
.faq_lst ~ .btnBox button {
  display: none;
  padding: 6px 10px;
  border-radius: 22px;
  background: rgba(65, 72, 83, 0.4);
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  transition: all 0.3s ease-out;
}
.faq_lst ~ .btnBox button:hover {
  font-weight: 700;
}
.faq_lst ~ .btnBox button.on {
  display: inline-block;
}

.chat_lst li + li {
  margin: 12px 0 0;
}
.chat_lst li .txt {
  display: inline-block;
  padding: 10px 12px;
  font-size: 12px;
  letter-spacing: -0.54px;
  line-height: 1.33;
  word-break: keep-all;
}
.chat_lst li .date {
  display: block;
  margin: 4px 0 0;
  color: #616c78;
  font-size: 8px;
}
.chat_lst li.avatar {
  text-align: left;
}
.chat_lst li.avatar .txt {
  border-radius: 20px 20px 20px 0;
  background: rgba(255, 255, 255, 0.5);
}
.chat_lst li.user {
  text-align: right;
}
.chat_lst li.user .txt {
  border-radius: 20px 20px 0 20px;
  background: rgba(65, 72, 83, 0.5);
  color: #fff;
}

.conversationRecogBox {
  position: absolute;
  bottom: 76px;
  left: 12px;
  width: calc(100% - 24px);
  transform: translateY(44px);
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 20;
}
.conversationRecogBox.on {
  transform: translateY(0);
  opacity: 1;
}
.conversationRecogBox.voice {
  padding: 12px 0;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.25);
  text-align: center;
}
.conversationRecogBox.voice .imgBox {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  line-height: 46px;
}
.conversationRecogBox.voice .imgBox:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border: solid 1px rgba(255, 255, 255, 0.24);
  border-radius: 50%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transform: translate(-50%, -50%);
}
.conversationRecogBox.voice .imgBox img {
  width: 24px;
  vertical-align: middle;
}
.conversationRecogBox.voice .guide_txt {
  margin: 12px 0 0;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.4;
}
.conversationRecogBox.text {
  text-align: right;
}
.conversationRecogBox.text textarea {
  overflow: hidden;
  float: left;
  width: calc(100% - 42px);
  height: 32px;
  min-height: 32px;
  padding: 7px 12px;
  border-radius: 6px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background: #fff;
  color: #414853;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.54px;
}
.conversationRecogBox.text textarea::placeholder {
  color: #c9d0d8;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.54px;
  line-height: 18px;
}
.conversationRecogBox.text .btn_send {
  overflow: hidden;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
  background: #fd4383 url("../images/ico_send.svg") 50% 50% no-repeat;
  text-indent: -9999px;
  vertical-align: top;
}

.contBox .controller {
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: calc(100% - 24px);
  padding: 8px 0;
  border-radius: 12px;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  text-align: center;
  z-index: 20;
}
.contBox .controller button {
  min-width: 34px;
  margin: 0 6px;
  padding: 24px 0 0;
  color: #abafb6;
  font-size: 8px;
  letter-spacing: -0.6px;
  line-height: 1.5;
  transition: all 0.3s ease-out;
}
/* .contBox .controller button:not(.active) {pointer-events:none;} */
.contBox .controller button.disabled {
  pointer-events: none;
}
.contBox .controller button.btn_mute {
  display: none;
  background: url("../images/ico_mute.svg") 50% 0 no-repeat;
  background-size: auto 20px;
}
.contBox .controller button.btn_mute.mute {
  background: url("../images/ico_speaker.svg") 50% 0 no-repeat;
  background-size: auto 20px;
}
.contBox .controller button.btn_mute.on {
  display: inline-block;
}
.contBox .controller button.btn_voice_cvsn {
  background: url("../images/ico_mic.svg") 50% 0 no-repeat;
  background-size: auto 20px;
}
.contBox .controller button.btn_text_cvsn {
  background: url("../images/ico_chat.svg") 50% 0 no-repeat;
  background-size: auto 20px;
}
.contBox .controller button.btn_setting {
  background: url("../images/ico_setting.svg") 50% 0 no-repeat;
  background-size: auto 20px;
}
.contBox .controller button.btn_minimize {
  background: url("../images/ico_minimize.svg") 50% 0 no-repeat;
  background-size: auto 20px;
}
.contBox .controller button.btn_mute:hover {
  background: url("../images/ico_mute_active.svg") 50% 0 no-repeat;
  background-size: auto 20px;
  color: #de41fc;
}
.contBox .controller button.btn_mute.mute:hover {
  background: url("../images/ico_speaker_active.svg") 50% 0 no-repeat;
  background-size: auto 20px;
  color: #de41fc;
}
.contBox .controller button.btn_voice_cvsn.active,
.contBox .controller button.btn_voice_cvsn:hover {
  background: url("../images/ico_mic_active.svg") 50% 0 no-repeat;
  background-size: auto 20px;
  color: #8949e9;
}
.contBox .controller button.btn_text_cvsn.active,
.contBox .controller button.btn_text_cvsn:hover {
  background: url("../images/ico_chat_active.svg") 50% 0 no-repeat;
  background-size: auto 20px;
  color: #fd7071;
}
.contBox .controller button.btn_setting:hover {
  background: url("../images/ico_setting_active.svg") 50% 0 no-repeat;
  background-size: auto 20px;
  color: #2dbdf5;
}
.contBox .controller button.btn_minimize:hover {
  background: url("../images/ico_minimize_active.svg") 50% 0 no-repeat;
  background-size: auto 20px;
  color: #8bc617;
}

/* -------------------- media query -------------------- */
@media screen and (max-width: 768px) {
  /* #chatbotAvatar {width:62px;} */
  #chatbotAvatar.open {
    right: 0;
    width: 100%;
    min-width: 320px;
    height: 100%;
  }
  #iframe_chatbotAvatar {
    width: 100%;
  }
  #btn_chatbotAvatar {
    width: 62px;
    height: 80px;
  }
  #btn_chatbotAvatar span {
    left: auto;
    width: auto;
    transform: none;
  }
  #chatbotAvatar_wrap {
    top: 0;
    bottom: auto;
    width: 100%;
    height: 100%;
  }
  .videoBox {
    right: auto;
    bottom: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
  }
  .contBox {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .contBox .controller {
    z-index: 20;
  }
  .scrollBox {
    height: 234px !important;
    transition: none;
  }
  /* .conversationRecogBox.voice {left:50%; width:208px; transform:translate(-50%, 0);} */
}
