@charset "utf-8";
/* MINDsLab. UX/UI Team */

/* Noto Sans */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: local("Noto Sans KR Thin"), local("NotoSansKR-Thin"),
    url(../font/NotoSansKR-Thin.woff) format("woff"),
    url(../font/NotoSansKR-Thin.woff2) format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 200;
  src: local("Noto Sans KR Light"), local("NotoSansKR-Light"),
    url(../font/NotoSansKR-Light.woff) format("woff"),
    url(../font/NotoSansKR-Light.woff2) format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans KR DemiLight"), local("NotoSansKR-DemiLight"),
    url(../font/NotoSansKR-DemiLight.woff) format("woff"),
    url(../font/NotoSansKR-DemiLight.woff2) format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans KR Regular"), local("NotoSansKR-Regular"),
    url(../font/NotoSansKR-Regular.woff) format("woff"),
    url(../font/NotoSansKR-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans KR Medium"), local("NotoSansKR-Medium"),
    url(../font/NotoSansKR-Medium.woff) format("woff"),
    url(../font/NotoSansKR-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans KR Bold"), local("NotoSansKR-Bold"),
    url(../font/NotoSansKR-Bold.woff) format("woff"),
    url(../font/NotoSansKR-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: local("Noto Sans KR Black"), local("NotoSansKR-Black"),
    url(../font/NotoSansKR-Black.woff) format("woff"),
    url(../font/NotoSansKR-Black.woff2) format("woff2");
}

/* Bronova */
@font-face {
  font-family: "Bronova";
  font-style: normal;
  font-weight: 400;
  src: local("Bronova Regular"), local("Bronova-Regular"),
    url(../font/Bronova-Regular.woff) format("woff"),
    url(../font/Bronova-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Bronova";
  font-style: normal;
  font-weight: 700;
  src: local("Bronova Bold"), local("Bronova-Bold"),
    url(../font/Bronova-Bold.woff) format("woff"),
    url(../font/Bronova-Bold.woff2) format("woff2");
}
